body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1181px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:100px;
  width:800px;
  height:460px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:285px;
  top:13px;
  width:65px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:388px;
  top:13px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:710px;
  top:13px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:593px;
  top:13px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:72px;
  top:10px;
  width:8px;
  height:5px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:896px;
  top:45px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777777;
  line-height:16px;
}
#u15_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:38px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:900px;
  top:14px;
}
#u17_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:27px;
  top:0px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:576px;
  top:45px;
  width:120px;
  height:72px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777777;
  line-height:16px;
}
#u22_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:80px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:589px;
  top:13px;
  width:95px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:580px;
  top:51px;
  width:120px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:absolute;
  left:580px;
  top:87px;
  width:120px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:60px;
  top:8px;
  width:114px;
  height:34px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u28 {
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:490px;
  top:13px;
  width:65px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:150px;
  top:99px;
  width:800px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:796px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:150px;
  top:60px;
  width:39px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:270px;
  top:190px;
  width:254px;
  height:22px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u35_input:disabled {
  color:grayText;
}
#u36 {
  position:absolute;
  left:576px;
  top:190px;
  width:254px;
  height:22px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u36_input:disabled {
  color:grayText;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:285px;
  top:13px;
  width:65px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:388px;
  top:13px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:710px;
  top:13px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:593px;
  top:13px;
}
#u45_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u45_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:72px;
  top:10px;
  width:8px;
  height:5px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:896px;
  top:45px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777777;
  line-height:16px;
}
#u50_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:38px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:900px;
  top:14px;
}
#u52_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u52_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:27px;
  top:0px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:576px;
  top:45px;
  width:120px;
  height:72px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777777;
  line-height:16px;
}
#u57_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:80px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:589px;
  top:13px;
  width:95px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  position:absolute;
  left:580px;
  top:51px;
  width:120px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61 {
  position:absolute;
  left:580px;
  top:87px;
  width:120px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  position:absolute;
  left:60px;
  top:8px;
  width:114px;
  height:34px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u63 {
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:490px;
  top:13px;
  width:65px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:150px;
  top:99px;
  width:800px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:40px;
}
#u67 {
  position:absolute;
  left:2px;
  top:10px;
  width:796px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:150px;
  top:60px;
  width:39px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:270px;
  top:264px;
  width:251px;
  height:30px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:270px;
  top:264px;
  width:50px;
  height:30px;
  color:#C9C9C9;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:320px;
  top:264px;
  width:50px;
  height:30px;
  color:#D7D7D7;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:370px;
  top:264px;
  width:50px;
  height:30px;
  color:#D7D7D7;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:418px;
  top:264px;
  width:50px;
  height:30px;
  color:#E4E4E4;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:438px;
  top:304px;
  width:11px;
  height:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:394px;
  top:304px;
  width:10px;
  height:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:344px;
  top:304px;
  width:10px;
  height:20px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:290px;
  top:304px;
  width:12px;
  height:20px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:494px;
  top:304px;
  width:9px;
  height:20px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:384px;
  top:246px;
  width:20px;
  height:8px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:270px;
  top:190px;
  width:254px;
  height:22px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u92_input:disabled {
  color:grayText;
}
#u93 {
  position:absolute;
  left:576px;
  top:264px;
  width:247px;
  height:121px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:121px;
}
#u94 {
  position:absolute;
  left:2px;
  top:52px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:584px;
  top:274px;
  width:141px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:584px;
  top:294px;
  width:233px;
  height:1px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:1px;
}
#u98 {
  position:absolute;
  left:2px;
  top:-8px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:588px;
  top:304px;
  width:144px;
  height:32px;
  font-size:12px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:588px;
  top:328px;
  width:167px;
  height:17px;
  font-size:12px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:17px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:588px;
  top:357px;
  width:167px;
  height:17px;
  font-size:12px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:17px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:576px;
  top:399px;
  width:247px;
  height:121px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:121px;
}
#u106 {
  position:absolute;
  left:2px;
  top:52px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:584px;
  top:409px;
  width:141px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:584px;
  top:429px;
  width:233px;
  height:1px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:1px;
}
#u110 {
  position:absolute;
  left:2px;
  top:-8px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:588px;
  top:439px;
  width:144px;
  height:32px;
  font-size:12px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:588px;
  top:463px;
  width:167px;
  height:17px;
  font-size:12px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:17px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:588px;
  top:492px;
  width:167px;
  height:17px;
  font-size:12px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:17px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:298px;
  top:650px;
  width:507px;
  height:20px;
  color:#C9C9C9;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:20px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:0px;
  top:630px;
  width:1181px;
  height:1px;
  color:#C9C9C9;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:1px;
}
#u120 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1177px;
  visibility:hidden;
  word-wrap:break-word;
}
