body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1173px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:285px;
  top:13px;
  width:65px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:388px;
  top:13px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:710px;
  top:13px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:593px;
  top:13px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:72px;
  top:10px;
  width:8px;
  height:5px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:896px;
  top:45px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777777;
  line-height:16px;
}
#u13_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:38px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:900px;
  top:14px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:27px;
  top:0px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:576px;
  top:45px;
  width:120px;
  height:72px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777777;
  line-height:16px;
}
#u20_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:80px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:589px;
  top:13px;
  width:95px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:580px;
  top:51px;
  width:120px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:580px;
  top:87px;
  width:120px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:60px;
  top:8px;
  width:114px;
  height:34px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u26 {
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:490px;
  top:13px;
  width:65px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:150px;
  top:120px;
  width:800px;
  height:280px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:280px;
}
#u30 {
  position:absolute;
  left:2px;
  top:132px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:150px;
  top:119px;
  width:400px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:550px;
  top:119px;
  width:400px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:406px;
  top:279px;
  width:361px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:406px;
  top:279px;
  width:72px;
  height:30px;
  color:#C9C9C9;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:476px;
  top:279px;
  width:72px;
  height:30px;
  color:#D7D7D7;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:548px;
  top:279px;
  width:72px;
  height:30px;
  color:#D7D7D7;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:618px;
  top:279px;
  width:72px;
  height:30px;
  color:#E4E4E4;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:356px;
  top:315px;
  width:29px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:719px;
  top:267px;
  width:20px;
  height:8px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:334px;
  top:279px;
  width:72px;
  height:30px;
  color:#C9C9C9;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:426px;
  top:315px;
  width:29px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:498px;
  top:315px;
  width:15px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:648px;
  top:315px;
  width:15px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:568px;
  top:315px;
  width:29px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:714px;
  top:315px;
  width:29px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:334px;
  top:209px;
  width:131px;
  height:1px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:1px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:150px;
  top:80px;
  width:39px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:294px;
  top:464px;
  width:499px;
  height:20px;
  color:#C9C9C9;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:-4px;
  top:444px;
  width:1181px;
  height:1px;
  color:#C9C9C9;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:1px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1177px;
  visibility:hidden;
  word-wrap:break-word;
}
